<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Portal</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <style>
 body {
    font-family: Arial, sans-serif;
    background-color: pink;
    background-image: url('https://easy.jobs/wp-content/uploads/2023/10/EJ-Beyond-the-Resume_-15-Interview-Questions-to-Assess-Critical-Thinking.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
  }
  .container {
    margin-top: 100px;
   
  }
  .btn-lg {
    font-size: 24px;
    padding: 15px 30px;
    margin: 10px;
  }
  
  </style>
</head>
<body>

<div class="container text-center">
  <h1>Welcome to Our Job Portal</h1>
  <p>Find your dream job or hire top talent</p>
  <div class="row">
   
    <div class="col-md-6">
      <a href="job" class="btn btn-warning btn-lg btn-block">Job Seeker</a>
    </div>
   
    <div class="col-md-6">
      <a href="register" class="btn btn-success btn-lg btn-block">Job Recruiter</a>
    </div>
   
  </div>
</div>


</body>
</html>
